.header-component
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #eee
    padding: 10px
.header-component__text-info
    display: flex
    align-items: center
.header-component__text-info-cat1
    margin: 0
    font-size: 3em
    font-weight: 400
    color: #292a2c
    text-transform: uppercase
.header-component__text-info-cat2
    margin: 0
    font-weight: normal
    color: #292a2c
.separator-line
    height: 40px
    width: 1px
    margin: 0px 10px
    background: #ccc
.header-component__photo-profile-img
    width: 50px