<div class="wraper-component">
    <div class="header-component">
        <div class="header-component__text-info">
            <h1 class="header-component__text-info-cat1">Novia</h1>
            <div class="separator-line"></div>
            <h2 class="header-component__text-info-cat2">Maquillaje y peinados</h2>
        </div>
        <div class="header-component__photo-profile">
            <img src="assets/img/profile.svg" class="header-component__photo-profile-img" alt="">
        </div>
    </div>
</div>
