$dark6: #555555
.navbar
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 260px
    overflow: hidden
    background: #e5e8ec
    overflow-y: scroll
.navbar::-webkit-scrollbar
    width: 8px
    background-color: #e5e8ec

.navbar::-webkit-scrollbar-track
    background-color: #e5e8ec

.navbar::-webkit-scrollbar-thumb
    background-color: #ccc

.navbar__header
    display: flex
    justify-content: center
    margin-top: 20px
.navbar__container-img
    background: #ffffff
    width: 40%
    padding: 25px
    margin: auto 20px
    border-radius: 5px
    box-shadow: .5px 2px 2px rgba(0,0,0,.05)
.navbar__header
    width: 100%
.navbar__header-img
    width: 100%
.navbar__separator
    width: 85%
    height: 1px 
    background: #bbb
    margin: auto
    margin-top: 20px
    margin-bottom: 20px

.navbar__container-body
    padding-left: 15px
.navbar__item
    margin: 8px
.button-nav
    display: grid
    grid-template-columns: 50px 1fr 20px 
    align-items: center
    margin-left: -15px
    padding-left: 15px
    cursor: pointer
.button-nav--active
    background: #d9dadc
.button-nav__img
    max-width: 40px
.button-nav__text
    font-weight: 400
    color: $dark6
.button-nav__arrow
    color: $dark6
.navbar__sub-cat
    padding-left: 10px
    max-height: 1px
    overflow: hidden
.navbar__sub-cat--active
    max-height: 4000px
    overflow: none
.navbar__sub-cat-link
    display: block
    padding: 5px
    color: #000
    text-decoration: none