.navbar
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 260px
    overflow: hidden
    background: #e5e8ec
.navbar__header
    display: flex
    justify-content: center
    margin-top: 20px
.navbar__container-img
    background: #ffffff
    width: 50%
    padding: 25px 30px
    margin: auto 20px
    border-radius: 5px
    box-shadow: .5px 2px 2px rgba(0,0,0,.05)
.navbar__header
    width: 100%
.navbar__header-img
    width: 100%
.navbar__separator
    width: 85%
    height: 1px 
    background: #ccc
    margin: auto
    margin-top: 20px
    margin-bottom: 20px

.navbar__container-body
    padding-left: 15px
.button-nav
    display: grid
    grid-template-columns: 50px 1fr 20px 
    align-items: center
.button-nav__text
    font-weight: 500
    color: #222
.button-nav__arrow
    color: #222
.navbar__sub-cat
    padding: 15px 0px 15px 10px
.navbar__sub-cat-link
    display: block
    padding: 5px
    color: #000
    text-decoration: none