
<div class="navbar">
    <div class="navbar__header">
        <div class="navbar__container-img">
            <img src="assets/img/logo.png" alt="" class="navbar__header-img">         
        </div>
    </div>
    <div class="navbar__separator"></div>
    <div class="navbar__container-body">
        <div class="navbar__item">
            <div class="button-nav button-nav--active">
                <img class="button-nav__img" src="assets/img/novia.svg" alt="">
                                       
                <span class="button-nav__text">Novia</span>
                <i class="button-nav__arrow fas fa-chevron-right"></i>
            </div>
            <div class="navbar__sub-cat navbar__sub-cat--active">
                <a href="" class="navbar__sub-cat-link">Maquillaje y peinados</a>
                <a href="" class="navbar__sub-cat-link">Vestidos</a>
                <a href="" class="navbar__sub-cat-link">Bouquet</a>
                <a href="" class="navbar__sub-cat-link">Ajuares</a>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/novio.svg" alt="">                 
                                     
                <span class="button-nav__text">Novio</span>
                <i class="button-nav__arrow fas fa-chevron-right"></i>
            </div>
            <div class="navbar__sub-cat">
                <a href="" class="navbar__sub-cat-link">Traje de novio</a>
                <a href="" class="navbar__sub-cat-link">Boutonnier</a>
                <a href="" class="navbar__sub-cat-link">Ajuares</a>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/recepcion.svg" alt="">                   
                                     
                <span class="button-nav__text">Recepción</span>
                <i class="button-nav__arrow fas fa-chevron-right"></i>
            </div>
            <div class="navbar__sub-cat">
                <a href="" class="navbar__sub-cat-link">Salones de eventos</a>
                <a href="" class="navbar__sub-cat-link">Estilos de decoraciones</a>
                <a href="" class="navbar__sub-cat-link">Sillas y mesas</a>
                <a href="" class="navbar__sub-cat-link">Articulos para eventos</a>
                <a href="" class="navbar__sub-cat-link">Platos</a>
                <a href="" class="navbar__sub-cat-link">Cubertería mantelería</a>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/invitation.svg" alt="">
                                     
                <span class="button-nav__text">Invitaciones y subeniles</span>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/foto-video.svg" alt="">
                    
                                     
                <span class="button-nav__text">Fotografía y video</span>
                <i class="button-nav__arrow fas fa-chevron-right"></i>
            </div>
            <div class="navbar__sub-cat">
                <a href="" class="navbar__sub-cat-link">Secciones de fotos</a>
                <a href="" class="navbar__sub-cat-link">Locaciones</a>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/volume.svg" alt="">
                <span class="button-nav__text">Sonido, música y ambientaciones</span>                                     
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/banquet.svg" alt="">
                                     
                <span class="button-nav__text">Banquetes</span>
                <i class="button-nav__arrow fas fa-chevron-right"></i>
            </div>
            <div class="navbar__sub-cat">
                <a href="" class="navbar__sub-cat-link">Postres dulces</a>
                <a href="" class="navbar__sub-cat-link">Postres salados</a>
                <a href="" class="navbar__sub-cat-link">Buffet</a>
                <a href="" class="navbar__sub-cat-link">Bebida</a>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/dining-table.svg" alt="">
                                     
                <span class="button-nav__text">Centro de mesas</span>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
               <img class="button-nav__img" src="assets/img/bouquet.svg" alt="">
                                     
                <span class="button-nav__text">Flores</span>
                <i class="button-nav__arrow fas fa-chevron-right"></i>
            </div>
            <div class="navbar__sub-cat">
                <a href="" class="navbar__sub-cat-link">Altos</a>
                <a href="" class="navbar__sub-cat-link">Bajitos</a>
                <a href="" class="navbar__sub-cat-link">Estilos</a>
                <a href="" class="navbar__sub-cat-link">Otros</a>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/ceremony.svg" alt="">
                                     
                <span class="button-nav__text">Ceremonia</span>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/giftbox.svg" alt="">
                                     
                <span class="button-nav__text">Cumpleaños</span>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/baby-shower.svg" alt="">
                                     
                <span class="button-nav__text">Baby shower</span>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav">
                <img class="button-nav__img" src="assets/img/aniversary.svg" alt="">
                                     
                <span class="button-nav__text">Aniversarios</span>
            </div>
        </div>
    </div>
</div>