
<div class="navbar">
    <div class="navbar__header">
        <div class="navbar__container-img">
            <img src="assets/img/logo.png" alt="" class="navbar__header-img">         
        </div>
    </div>
    <div class="navbar__separator"></div>
    <div class="navbar__container-body">
        <div class="navbar__item">
            <div class="button-nav button-nav--active" (click)="toggle_novia = !toggle_novia">
                <img class="button-nav__img" src="assets/img/novia.svg" alt="">
                                       
                <span  class="button-nav__text" [ngClass]="{'button-nav__text--active': toggle_novia}">Novia</span>
                <i class="button-nav__arrow fas fa-chevron-right" [ngClass]="{'button-nav__arrow--active': toggle_novia}"></i>
            </div>
            <div class="navbar__sub-cat"  [ngClass]="{'navbar__sub-cat--expanded' : toggle_novia, 'navbar__sub-cat--collapsed': !toggle_novia}">
                <a routerLink="/novia/maquillaje-peinado" class="navbar__sub-cat-link">Maquillaje y peinados</a>
                <a routerLink="/novia/estilos-vestido" class="navbar__sub-cat-link">Vestidos</a>
                <a routerLink="/novia/bouquet" class="navbar__sub-cat-link">Bouquet</a>
                <a routerLink="/novia/ajuares" class="navbar__sub-cat-link">Ajuares</a>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav" (click)="toggle_novio = !toggle_novio">
                <img class="button-nav__img" src="assets/img/novio.svg" alt="">                 
                                     
                <span class="button-nav__text">Novio</span>
                <i class="button-nav__arrow fas fa-chevron-right" [ngClass]="{'button-nav__arrow--active': toggle_novio}"></i>
            </div>
            <div class="navbar__sub-cat" [ngClass]="{'navbar__sub-cat--expanded' : toggle_novio, 'navbar__sub-cat--collapsed': !toggle_novio}">
                <a  routerLink="/novio/traje-novio" class="navbar__sub-cat-link">Traje de novio</a>
                <a  routerLink="/novio/boutonnier" class="navbar__sub-cat-link">Boutonnier</a>
                <a  routerLink="/novio/ajuares" class="navbar__sub-cat-link">Ajuares</a>
            </div>
        </div>
        <div class="navbar__item">
            <div class="button-nav" (click)="toggle_recepcion = !toggle_recepcion">
                <img class="button-nav__img" src="assets/img/recepcion.svg" alt="">                   
                                     
                <span class="button-nav__text">Recepción</span>
                <i class="button-nav__arrow fas fa-chevron-right" [ngClass]="{'button-nav__arrow--active': toggle_recepcion}"></i>
            </div>
            <div class="navbar__sub-cat" [ngClass]="{'navbar__sub-cat--expanded' : toggle_recepcion, 'navbar__sub-cat--collapsed': !toggle_recepcion}">
                <a  routerLink="/recepcion/salones-eventos" class="navbar__sub-cat-link">Salones de eventos</a>
                <a  routerLink="/recepcion/estilos-decoraciones" class="navbar__sub-cat-link">Estilos de decoraciones</a>
                <a  routerLink="/recepcion/sillas-mesas" class="navbar__sub-cat-link">Sillas y mesas</a>
                <a  routerLink="/recepcion/articulos-eventos" class="navbar__sub-cat-link">Articulos para eventos</a>
                <a  routerLink="/recepcion/platos" class="navbar__sub-cat-link">Platos</a>
                <a  routerLink="/recepcion/cuberteria-manteleria" class="navbar__sub-cat-link">Cubertería mantelería</a>
            </div>
        </div>
        <div class="navbar__item">
            <a routerLink="/invitaciones-suveniles">
                <div class="button-nav" >
                    <img class="button-nav__img" src="assets/img/invitation.svg" alt="">
                
                    <span class="button-nav__text">Invitaciones y subeniles</span>
                </div>
            </a>
        </div>
        <div class="navbar__item">
            <div class="button-nav" (click)="toggle_foto_video = !toggle_foto_video">
                <img class="button-nav__img" src="assets/img/foto-video.svg" alt="">
                    
                                     
                <span class="button-nav__text">Fotografía y video</span>
                <i class="button-nav__arrow fas fa-chevron-right" [ngClass]="{'button-nav__arrow--active': toggle_foto_video}"></i>
            </div>
            <div class="navbar__sub-cat" [ngClass]="{'navbar__sub-cat--expanded' : toggle_foto_video, 'navbar__sub-cat--collapsed': !toggle_foto_video}">
                <a  routerLink="/foto-video/secciones" class="navbar__sub-cat-link">Secciones de fotos</a>
                <a  routerLink="/foto-video/locaciones" class="navbar__sub-cat-link">Locaciones</a>
            </div>
        </div>
        <div class="navbar__item">
            <a routerLink="/sonido-musica-ambientaciones">
                <div class="button-nav">
                    <img class="button-nav__img" src="assets/img/volume.svg" alt="">
                    <span class="button-nav__text">Sonido, música y ambientaciones</span>
                </div>
            </a>
        </div>
        <div class="navbar__item">
            <div class="button-nav" (click)="toggle_banquetes = !toggle_banquetes">
                <img class="button-nav__img" src="assets/img/banquet.svg" alt="">
                                     
                <span class="button-nav__text">Banquetes</span>
                <i class="button-nav__arrow fas fa-chevron-right" [ngClass]="{'button-nav__arrow--active': toggle_banquetes}"></i>
            </div>
            <div class="navbar__sub-cat" [ngClass]="{'navbar__sub-cat--expanded' : toggle_banquetes, 'navbar__sub-cat--collapsed': !toggle_banquetes}">
                <a  routerLink="/banquetes/postres-dulces" class="navbar__sub-cat-link">Postres dulces</a>
                <a  routerLink="/banquetes/postres-salados" class="navbar__sub-cat-link">Postres salados</a>
                <a  routerLink="/banquetes/buffet" class="navbar__sub-cat-link">Buffet</a>
                <a  routerLink="/banquetes/bebida" class="navbar__sub-cat-link">Bebida</a>
            </div>
        </div>
        <div class="navbar__item">
            <a routerLink="/centro-mesas">
                <div class="button-nav">
                    <img class="button-nav__img" src="assets/img/dining-table.svg" alt="">
                
                    <span class="button-nav__text">Centro de mesas</span>
                </div>
            </a>
        </div>
        <div class="navbar__item">
            <div class="button-nav" (click)="toggle_flores = !toggle_flores">
               <img class="button-nav__img" src="assets/img/bouquet.svg" alt="">
                                     
                <span class="button-nav__text">Flores</span>
                <i class="button-nav__arrow fas fa-chevron-right" [ngClass]="{'button-nav__arrow--active': toggle_flores}"></i>
            </div>
            <div class="navbar__sub-cat" [ngClass]="{'navbar__sub-cat--expanded' : toggle_flores, 'navbar__sub-cat--collapsed': !toggle_flores}">
                <a  routerLink="/flores/altos" class="navbar__sub-cat-link">Altos</a>
                <a  routerLink="/flores/bajitos" class="navbar__sub-cat-link">Bajitos</a>
                <a  routerLink="/flores/estilos" class="navbar__sub-cat-link">Estilos</a>
                <a  routerLink="/flores/otros" class="navbar__sub-cat-link">Otros</a>
            </div>
        </div>
        <div class="navbar__item">
            <a routerLink="/ceremonia">
                <div class="button-nav">
                    <img class="button-nav__img" src="assets/img/ceremony.svg" alt="">
                
                    <span class="button-nav__text">Ceremonia</span>
                </div>
            </a>
        </div>
        <div class="navbar__item">
            <a routerLink="/cumpleanos">
                <div class="button-nav">
                    <img class="button-nav__img" src="assets/img/giftbox.svg" alt="">
                
                    <span class="button-nav__text">Cumpleaños</span>
                </div>
            </a>
        </div>
        <div class="navbar__item">
            <a routerLink="/baby-shower">
                <div class="button-nav">
                    <img class="button-nav__img" src="assets/img/baby-shower.svg" alt="">
                
                    <span class="button-nav__text">Baby shower</span>
                </div>
            </a>
        </div>
        <div class="navbar__item">
            <a routerLink="/aniversario">
                <div class="button-nav">
                    <img class="button-nav__img" src="assets/img/aniversary.svg" alt="">
                
                    <span class="button-nav__text">Aniversarios</span>
                </div>
            </a>
        </div>
    </div>
</div>