<div class="container_login">
    <div class="login">
        <div class="login__header-img">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="login__body-form">
            <div class="login__body-form-inputgroup">
                <i class="fas fa-user login__body-form-inputgroup-icon"></i>
                <input type="text" name="" id="" [(ngModel)]="login_form.user" placeholder="User name" class="login__body-form-inputgroup-input">
            </div>
            <div class="login__body-form-inputgroup">
                <i class="fas fa-key login__body-form-inputgroup-icon"></i>
                <input type="password" name="" id="" [(ngModel)]="login_form.pass" placeholder="Password" class="login__body-form-inputgroup-input">
            </div>
            <button class="login__body-form-btn-send" (click)="login()">Login</button>
        </div>
    </div>
</div>
