<div class="wraper-component">
    <div class="header-component">
        <div class="header-component__text-info">
            <h1 class="header-component__text-info-cat1">{{url.cat1 | title}}</h1>
            <div class="separator-line"></div>
            <h2 class="header-component__text-info-cat2">{{url.cat2 | title}}</h2>
        </div>
        <div class="header-component__message" [ngClass]="{'header-component__message-show': message_alert.show, 'header-component__message-hide': message_alert.hide}">
            <p>{{message_alert.text}}</p>
        </div>
        <div class="header-component__photo-profile">
            <img src="assets/img/profile.svg" class="header-component__photo-profile-img" alt="">
        </div>
    </div>
    <div class="content-component">
        <div class="content-component__header">
            <nav class="tabs-menu">
                <li class="tabs-menu__item" [ngClass]="{'tabs-menu__item-active': tabs.galeria}" (click)="toggle_tabs(); tabs.galeria = true; get_data();">Galería</li>
                <li class="tabs-menu__item" [ngClass]="{'tabs-menu__item-active': tabs.paquetes || tabs.items_paq}" (click)="toggle_tabs(); tabs.paquetes = true; get_data();">Paquetes</li>
                <li class="tabs-menu__item" [ngClass]="{'tabs-menu__item-active': tabs.proveedores}" (click)="toggle_tabs(); tabs.proveedores = true; get_data();">Proveedores</li>
            </nav>
            <div class="content-component__header-icon-upload-image">
                <div class="container-btn-up-img" *ngIf="tabs.galeria">
                    <label for="upload-image" class="content-component__header-icon-upload-image-label">
                        <span>Cargar imagen</span>
                        <i class="fas fa-upload"></i>
                    </label>
                    <input type="file" name="upload-image" id="upload-image" (change)="show_file($event)" class="content-component__header-icon-upload-image-input">
                </div>
                <div class="container-btn-pack" *ngIf="tabs.paquetes">
                    <button (click)="toggle_option_panel(); toggle_forms('agregar-paq');" class="paquetes__btn_agregar">Agregar nuevo paquete <i class="fas fa-plus"></i></button>
                </div>
                <div class="container-btn-prov" *ngIf="tabs.proveedores">
                    <button class="proveedores__btn-agregar" data-option="agregar-proveedor" (click)="toggle_option_panel(); toggle_forms('agregar-proveedor');">
                        <span class="proveedores__btn-agregar-text">Agregar nuevo proveedor</span>
                        <i class="proveedores__btn-agregar-text-icon fas fa-user-plus"></i>
                    </button>
                </div>
            </div>
        </div>            
        <div class="content-component__body">
            <div class="galeria" [ngClass]="{'galeria-show': tabs.galeria, 'galeria-hide': !tabs.galeria}" *ngIf="!empty_data_api">
                <div class="galeria__grid-imgs">
                    <div class="galeria__grid-img-container" *ngFor="let img of data_api; index as i">
                        <i class="galeria__three-dots fas fa-ellipsis-h" tabindex="1" [attr.data-img-url]="img.url_img" [attr.data-img-id]="img.id_img" [attr.data-menu]="'galeria__menu' + (i+1)" (focus)="toggle_menu($event)" (blur)="toggle_menu($event)"></i>
                        <div class="galeria__menu {{'galeria__menu'+ (i+1)}}">
                            <ul class="galeria__menu-item-list">
                                <li class="galeria__menu-item" data-option="eliminar-imagen" (click)="toggle_option_panel(); toggle_forms('eliminar-imagen'); get_img_to_delete(img.id_img)">Eliminar imagen</li>
                            </ul>
                        </div>
                        <img src="{{img.url_img}}" data-img_id="{{img.id_img}}" class="galeria__grid-img" alt="">
                    </div>
                </div>
            </div>
            <div class="galeria" [ngClass]="{'galeria-show': tabs.galeria, 'galeria-hide': !tabs.galeria}" *ngIf="empty_data_api">
                <div class="galeria__container_menssage_no_data">
                    <h3 class="galeria__container_menssage_no_data-text">No hay elementos aquí</h3>
                    <img class="galeria__container_menssage_no_data-image" src="assets/img/no-data.svg" alt="">
                </div>
            </div>
            <div class="paquetes" [ngClass]="{'paquetes-show': tabs.paquetes, 'paquetes-hide': !tabs.paquetes}">
                <div class="paquete" *ngFor="let nombre_paq of data_api; index as i" (dblclick)="get_items_paq(nombre_paq.id_paq)">
                    <i class="paquete__three-dots fas fa-ellipsis-v" tabindex="1" [attr.data-menu]="'paquete__menu' + (i+1)" (blur)="toggle_menu($event)" (focus)="toggle_menu($event)"></i>
                    <h3 class="paquete__title">{{nombre_paq.nombre_paq}}</h3>
                    <div class="paquete__menu {{'paquete__menu'+ (i+1)}}">
                        <ul class="paquete__menu-item-list">
                            <li class="paquete__menu-item" data-option="editar-nombre-paq" (click)="toggle_option_panel(); toggle_forms('editar-nombre-paq'); get_paq_to_edit(nombre_paq.id_paq, nombre_paq.nombre_paq)">Editar nombre paquete</li>
                            <li class="paquete__menu-item" data-option="eliminar-paq" (click)="toggle_option_panel(); toggle_forms('eliminar-paq'); get_paq_to_delete(nombre_paq.id_paq)">Eliminar paquete</li>
                            <li class="paquete__menu-item" data-option="option-elementos" (click)="get_items_paq(nombre_paq.id_paq)">Abrir paquete</li>
                        </ul>
                    </div>
                    <!-- <ul class="paquete_lista-items">
                        <li class="paquete__item" *ngFor="let item of nombre_paq.items">{{item | idless}}</li>
                    </ul> -->
                </div>
               
            </div>
            <div class="proveedores" [ngClass]="{'proveedores-show': tabs.proveedores, 'proveedores-hide': !tabs.proveedores}">
                <div class="proveedor" *ngFor="let prov of data_api; index as i">
                    <i class="proveedor__three-dots fas fa-ellipsis-h" tabindex="1" [attr.data-prov]="prov" [attr.data-menu]="'proveedores__menu' + (i+1)" (blur)="toggle_menu($event)" (focus)="toggle_menu($event)"></i>
                    <div class="proveedor__menu {{'proveedores__menu'+ (i+1)}}">
                        <ul class="proveedor__menu-item-list">
                            <li class="proveedor__menu-item" data-option="editar-proveedor" (click)="toggle_option_panel(); toggle_forms('editar-proveedor');obtener_prov($event, prov);">Editar proveedor</li>
                            <li class="proveedor__menu-item" data-option="eliminar-proveedor" (click)="toggle_option_panel(); toggle_forms('eliminar-proveedor'); get_id_delete(prov.id_prov)">Eliminar proveedor</li>
                        </ul>
                    </div>
                    <i class="proveedor_photo fas fa-user-circle"></i>
                    <div class="proveedor__name">
                        <h3 class="proveedor__placeholder-name">Nombre</h3>
                        <p class="proveedor__value-name">{{prov.nombre_prov + " " + prov.apellido_prov}}</p>
                    </div>
                    <div class="proveedor__correo">
                        <h3 class="proveedor__placeholder-correo">Correo</h3>
                        <p class="proveedor__value-correo">{{prov.correo_prov}}</p>
                    </div>
                    <div class="proveedor__telefono">
                        <h3 class="proveedor__placeholder-telefono">Telefono</h3>
                        <p class="proveedor__value-telefono">{{prov.telefono_prov}}</p>
                    </div>
                    <div class="proveedor__direccion">
                        <h3 class="proveedor__placeholder-direccion">Direccion</h3>
                        <p class="proveedor__value-direccion">{{prov.direccion_prov}}</p>
                    </div>
                </div>
            </div>  
            <!-- items paquetes -->
            <div class="items-paq" [ngClass]="{'items-paq-show': tabs.items_paq, 'items-paq-hide': !tabs.items_paq}">
                <div class="items-paq__header">
                    <h2 class="items-paq__title">{{ data_api.paquete }}</h2>
                    <div class="items-paq__header-selected" [ngClass]="{'items-paq__header-selected-show': show_cont_i_t_delete }">
                        <p>
                            {{ items_to_delete.length }} seleccionados
                            <button class="items-paq__header-btns" (click)="vaciar_items_to_delete()">Cancelar</button>
                            <button class="items-paq__header-btns" (click)="delete_items_paq()" >Borrar</button>
                        </p>
                    </div>
                    <button class="items-paq__btn-add" (click)="toggle_option_panel(); toggle_forms('agregar-item-paq');">
                        <span class="items-paq__btn-add-content">Nuevo</span>
                        <i class="items-paq__btn-add-icon fas fa-plus"></i>
                    </button>
                </div>

                <ul class="items-list">
                    <li *ngFor="let i of data_api" class="items-list__item">
                        <input type="checkbox" class="items-list__item-check" (click)="get_items_to_delete($event, i.id)" name="item-check" value="{{ i.id }}" id="{{ i.id }}">
                        <span class="items-list__item-content">{{ i.nombre }}</span>
                        <i class="items-paq__item-btn-edit fas fa-pencil-alt" (click)="toggle_option_panel(); toggle_forms('editar-item-paq'); get_item_to_edit(i.id, i.nombre)"></i>
                        <i class="items-paq__item-btn-delete fas fa-trash-alt" (click)="toggle_option_panel(); toggle_forms('eliminar-item-paq'); get_item_to_delete(i.id, i.nombre)"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="option-panel" [ngClass]="{'option-panel-active': show_option_panel}">
        <!-- Editar nombre paq -->
        <img src="assets/img/close.svg" alt="" class="option-panel__close" (click)="toggle_option_panel()">
        <div class="option-panel__form " id="editar-nombre-paq">
            <h2 class="option-panel__title">Editar paquete numero1</h2>
            <label for="nombre-paquete" class="option-panel__label">Nuevo nombre del paquete:</label>
            <input type="text" class="option-panel__input" id="nombre-paquete" [(ngModel)]="form_edit_name_paq.nombre_paq">
            {{form_edit_name_paq.id}}
            <div class="option-panel__form-container-btn-loader">
                <div class="lds-ring" [ngClass]="{'active':  loader_icon}"><div></div><div></div><div></div><div></div></div>
                <button class="option-panel__btn-enviar" (click)="edit_name_paq()">
                    <span class="option-panel__btn-enviar-text">Enviar</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
             <!-- agregar paq -->
        <div class="option-panel__form " id="agregar-paq">
            <h2 class="option-panel__title">Agregar paquete</h2>
            <label for="nombre-paquete" class="option-panel__label">Nuevo paquete:</label>
            <input type="text" class="option-panel__input" id="nombre-paquete" [(ngModel)]="form_add_paq.nombre_paq">
            {{form_edit_name_paq.id}}
            <div class="option-panel__form-container-btn-loader">
                <div class="lds-ring" [ngClass]="{'active':  loader_icon}"><div></div><div></div><div></div><div></div></div>
                <button class="option-panel__btn-enviar" (click)="add_paq()">
                    <span class="option-panel__btn-enviar-text">Enviar</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>

        <!-- Eliminar paq -->
        <div class="option-panel__form" id="eliminar-paq">
            <h2 class="option-panel__title">Eliminar paquete</h2>
            <h3 class="option-panel__warning-delete">¿Esta seguro que desea eliminar el paquete <span class="option-panel__red">{{paq_to_delete}}</span>?</h3>
            <div class="option-panel__form-container-btn-loader">
                <div class="lds-ring" [ngClass]="{'active':  loader_icon}"><div></div><div></div><div></div><div></div></div>
                <button class="option-panel__btn-enviar" (click)="delete_paq()">
                    <span class="option-panel__btn-enviar-text">Aceptar y continuar</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <!-- Agregar item paq -->
        <div class="option-panel__form" id="agregar-item-paq">
            <h2 class="option-panel__title">Agregar nuevo elemento</h2>
            <label for="">Nuevo elemento:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]="form_add_item_paq.item">
            <div class="option-panel__form-container-btn-loader">
                <div class="lds-ring" [ngClass]="{'active':  loader_icon}"><div></div><div></div><div></div><div></div></div>
                <button class="option-panel__btn-enviar" (click)="add_items_paq(); loader_icon = true">
                    <span class="option-panel__btn-enviar-text">Aceptar y continuar</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <!-- Editar item paq -->
        <div class="option-panel__form" id="editar-item-paq">
            <h2 class="option-panel__title">Editar elemento</h2>
            <label for="">Escribe aqui:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]="form_edit_item_paq.item">
            <div class="option-panel__form-container-btn-loader">
                <div class="lds-ring" [ngClass]="{'active':  loader_icon}"><div></div><div></div><div></div><div></div></div>
                <button class="option-panel__btn-enviar" (click)="edit_item_paq(); loader_icon = true">
                    <span class="option-panel__btn-enviar-text">Aceptar y continuar</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>

        <div class="option-panel__form" id="eliminar-item-paq">
            <h2 class="option-panel__title">Se eliminará el elemento <span class="option-panel__form_highlight">{{ id_item_paq_delete.item}}</span></h2>
            <div class="option-panel__form-container-btn-loader">
                <div class="lds-ring" [ngClass]="{'active':  loader_icon}"><div></div><div></div><div></div><div></div></div>
                <button class="option-panel__btn-enviar" (click)="delete_item_paq(); loader_icon = true">
                    <span class="option-panel__btn-enviar-text">Aceptar y continuar</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>


        <!-- Agregar proveedor -->
        <div class="option-panel__form" id="agregar-proveedor">
            <h2 class="option-panel__title">Agregar proveedor</h2>
            <label for="">Nombre:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]= "form_add_prov.nombre">
            <label for="">Apellido:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]= "form_add_prov.apellido">
            <label for="">Correo:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]= "form_add_prov.correo">
            <label for="">Telefono:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]= "form_add_prov.telefono">
            <label for="">Dirección:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]= "form_add_prov.direccion">
            <div class="option-panel__form-container-btn-loader">
                <div class="lds-ring" [ngClass]="{'active':  loader_icon}"><div></div><div></div><div></div><div></div></div>
                <button class="option-panel__btn-enviar" (click)="add(); loader_icon = true">
                    <span class="option-panel__btn-enviar-text">Aceptar y continuar</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>

        <!-- Editar proveedor -->
        <div class="option-panel__form" id="editar-proveedor">
            <h2 class="option-panel__title">Editar proveedor</h2>
            <label for="">Nombre:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]= "form_edit_prov.nombre">
            <label for="">Apellido:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]= "form_edit_prov.apellido">
            <label for="">Correo:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]= "form_edit_prov.correo">
            <label for="">Telefono:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]= "form_edit_prov.telefono">
            <label for="">Dirección:</label>
            <input type="text" class="option-panel__input-edit-prov" [(ngModel)]= "form_edit_prov.direccion">
            <div class="option-panel__form-container-btn-loader">
                <div class="lds-ring" [ngClass]="{'active':  loader_icon}"><div></div><div></div><div></div><div></div></div>
                <button class="option-panel__btn-enviar" (click)="edit_prov(); loader_icon = true">
                    <span class="option-panel__btn-enviar-text">Aceptar y continuar</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <!-- Eliminar proveedor -->
        <div class="option-panel__form" id="eliminar-proveedor">
            <h2 class="option-panel__title">¿Está seguro que desea eliminar este proveedor?</h2>
            <div class="option-panel__form-container-btn-loader">
                <div class="lds-ring" [ngClass]="{'active':  loader_icon}"><div></div><div></div><div></div><div></div></div>
                <button class="option-panel__btn-enviar" (click)="delete(); loader_icon = true">
                    <span class="option-panel__btn-enviar-text">Aceptar y continuar</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <!-- Eliminar imagen -->
        <div class="option-panel__form" id="eliminar-imagen">
            <h2 class="option-panel__title">¿Está seguro que desea eliminar esta imagen?</h2>
            <h3 class="option-panel__id-info"><span class="option-panel__id-info-t">Id:</span>{{ id_img_delete }}</h3>
            <img src="{{ url_img_delete }}" class="option-panel__img-form" alt="">

            <div class="option-panel__form-container-btn-loader">
                <div class="lds-ring" [ngClass]="{'active':  loader_icon}"><div></div><div></div><div></div><div></div></div>
                <button class="option-panel__btn-enviar" (click)="delete_img()">
                    <span class="option-panel__btn-enviar-text">Aceptar y continuar</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>



    </div>
</div>
